[user]
	name = Chip Jackson
	email = chip@factual.com
[core]
	editor = /usr/bin/vim
	excludesfile = ~/.gitignore
[credential]
	helper = osxkeychain
[diff]
	tool = gvimdiff
[alias]
	co = checkout
        br = branch
        ci = commit
        st = status
	unstage = reset HEAD --
        ignore = update-index --assume-unchanged
        unignore = update-index --no-assume-unchanged
        ignored = !git ls-files -v | grep "^[[:lower:]]"
[github]
	user = chip@factual.com
