[user]
	name = Chip Jackson
	email = chipj@ziprecruiter.com
[core]
	editor = /usr/bin/vim
	excludesfile = ~/.gitignore
[credential]
	helper = osxkeychain
[diff]
	tool = gvimdiff
[alias]
	co = checkout
        br = branch
        ci = commit
        st = status
	sts = status -uno
	unstage = reset HEAD --
        ignore = update-index --assume-unchanged
        unignore = update-index --no-assume-unchanged
        ignored = !git ls-files -v | grep "^[[:lower:]]"
	pushf = push --force-with-lease
[github]
	user = chipjacks@gmail.com
[push]
	default = simple
[pull]
	rebase = true
[protocol]
	version = 2
