[user]
	name = Chip Jackson
	email = chipj@ziprecruiter.com
[core]
	editor = /usr/bin/vim
	excludesfile = ~/.gitignore
	fsmonitor = true
	untrackedcache = true
[credential]
	helper = 
[diff]
	tool = gvimdiff
[alias]
	co = checkout
        br = branch
        ci = commit
        st = status
	ix = diff --cached
	unstage = reset HEAD --
        ignore = update-index --assume-unchanged
        unignore = update-index --no-assume-unchanged
        ignored = !git ls-files -v | grep "^[[:lower:]]"
	pushf = push --force-with-lease
[github]
	user = chipjacks@gmail.com
[push]
	default = simple
[pull]
	rebase = true
[protocol]
	version = 2
[credential "https://git.zr.org"]
	helper = /Applications/zam.app/Contents/MacOS/zam git-credential-gitlab
[credential "https://test-git.zr.org"]
	helper = /Applications/zam.app/Contents/MacOS/zam git-credential-gitlab
[merge]
	conflictstyle = diff3
[maintenance]
	repo = /Users/chipj/ziprecruiter
